# üêº Aprendendo Pandas

### Este notebook visa ensinar alguns m√≥dulos da essencial biblioteca do python "Pandas".

In [4]:
#Primeiramente, criemos nosso dataframe para que seja usado como exemplo.
import pandas as pd
colunas = ['Idade', 'Classe', 'N√≠vel']
dados = [
    [21, 'Guerreiro', 7],
    [57, 'Mago', 15],
    [16, 'Escudeiro', 2],
    [12, 'Guerreiro', 20]]
df = pd.DataFrame(dados, columns = colunas)
df

   Idade     Classe  N√≠vel
0     21  Guerreiro      7
1     57       Mago     15
2     16  Escudeiro      2
3     12  Guerreiro     20

## ü™ô 1. Head/Tail
#### Primeiramente, vamos ver os m√≥dulos head e tail. Ambos servem para selecionar um dado n n√∫mero de linha. Enquanto head seleciona as n primeiras linhas, tail seleciona as n √∫ltimas.

In [7]:
#Primeiro, vamos imprimir as 2 primeiras linhas:
print(df.head(2))
print('---------------------------')
#Agora, imprimamos a √∫ltima linha:
print(df.tail(1))

   Idade     Classe  N√≠vel
0     21  Guerreiro      7
1     57       Mago     15
---------------------------
   Idade     Classe  N√≠vel
3     12  Guerreiro     20

## üìç 2. Iloc
#### O iloc √© usado para selecionar dentro do dataframe linhas e colunas pelo √≠ndice.

In [17]:
#Iloc recebe dois par√¢metros: iloc[linhas, colunas]
# Supondo que um monstro muito forte apareceu. A guilda deve selecionar os aventureiros baseados na classe 
#e n√≠vel. Desse modo, apliquemos iloc:
df.iloc[0:,1:3]

      Classe  N√≠vel
0  Guerreiro      7
1       Mago     15
2  Escudeiro      2
3  Guerreiro     20

## üôè 3. Concat/Merge
#### Caso tenhamos dois dataframes, podemos usar esses m√≥dulos para os juntar.

In [19]:
#Um veterano que estava fazenda uma longa miss√£o voltou ao pa√≠s:
colunas = ['Idade', 'Classe', 'N√≠vel']
dados = [
    [37, 'Mago', 18]]
df2 = pd.DataFrame(dados, columns=colunas)

In [21]:
#A guilda precisa colocar ele na lista, para isso, utilizaremos concat:
df_novo = pd.concat([df, df2], ignore_index= True)
df_novo #Veja que o df_novo cont√©m agora as informa√ß√µes do veterano tamb√©m.

   Idade     Classe  N√≠vel
0     21  Guerreiro      7
1     57       Mago     15
2     16  Escudeiro      2
3     12  Guerreiro     20
4     37       Mago     18

In [32]:
#Agora a guilda est√° solicitando as armas usadas por cada aventureiro. Suponhamos que n√£o existem
#aventureiros com a mesma idade, portanto, eles podem ser identificados pela idade.
colunas = ['Idade', 'Arma']
dados = [
    [21, 'Espada'],
    [57, 'Cajado'],
    [16],
    [12, 'Ultra Greatsword'],
    [37, 'Espada pinc√©l']]
df3 = pd.DataFrame(dados, columns=colunas)

#Agora, para adicionar a arma correspondente a cada aventureiro, usaremos o merge:
df = pd.merge(left=df_novo, right=df3, on='Idade', how='outer')
#left e right √© a posi√ß√£o de cada dataframe, on √© a interse√ß√£o e how='outer' significa que √© para manter
#linhas que tem objetos faltando
df

   Idade     Classe  N√≠vel              Arma
0     12  Guerreiro     20  Ultra Greatsword
1     16  Escudeiro      2              None
2     21  Guerreiro      7            Espada
3     37       Mago     18     Espada pinc√©l
4     57       Mago     15            Cajado

## ‚ùì 4. Isnull
#### O m√≥dulo √© usado para identificar se existem elementos faltantes.

In [36]:
#A guilda quer verificar se seus dados est√£o atualizados com todas as informa√ß√µes necess√°rias.
#Usaremos o m√≥dulo isnull, ele retorna False se o dado existe e True se estiver faltando
print(pd.isnull(df))
#Com isso, a guilda verificou que o escudeiro n√£o declarou sua arma.

   Idade  Classe  N√≠vel   Arma
0  False   False  False  False
1  False   False  False   True
2  False   False  False  False
3  False   False  False  False
4  False   False  False  False

## ‚ÜîÔ∏è 5. Get_dummies
#### O m√≥dulo √© usado para entender quais elementos possuem o mesmo valor.

In [44]:
#A guilda precisa analisar a classe dos aventureiros dispon√≠veis.
#Usaremos para isso get_dummies:
pd.get_dummies(df, columns=['Classe']) #O par√¢metro columns seleciona as colunas a serem analisadas.
#A guilda com isso analisa a classe de cada um de seus elementos

,Idade,N√≠vel,Arma,Classe_Escudeiro,Classe_Guerreiro,Classe_Mago
0,12,20,Ultra Greatsword,False,True,False
1,16,2,None,True,False,False
2,21,7,Espada,False,True,False
3,37,18,Espada pinc√©l,False,False,True
4,57,15,Cajado,False,False,True

## üîù 6. Pivot
#### Esse m√≥dulo cria um dataframe com base em um atributo pivot

In [55]:
#A guilda precisa agora analisar uma correla√ß√£o entre as armas e classes baseadas no n√≠vel.
#Para essa an√°lise, usamos pivot, que separa os demais para cada pivot.
pd.pivot(df[['N√≠vel','Arma', 'Classe']], columns='N√≠vel') #columns, par√¢metro para a coluna base da an√°lise

       Arma                                                      Classe  \
N√≠vel    2       7       15             18                20         2
0       NaN     NaN     NaN            NaN  Ultra Greatsword        NaN
1      None     NaN     NaN            NaN               NaN  Escudeiro
2       NaN  Espada     NaN            NaN               NaN        NaN
3       NaN     NaN     NaN  Espada pinc√©l               NaN        NaN
4       NaN     NaN  Cajado            NaN               NaN        NaN


N√≠vel         7     15    18         20
0            NaN   NaN   NaN  Guerreiro
1            NaN   NaN   NaN        NaN
2      Guerreiro   NaN   NaN        NaN
3            NaN   NaN  Mago        NaN
4            NaN  Mago   NaN        NaN

### Baseando-se nos m√≥dulos apresentados, espera-se que os aventureiros usem essas ferramentas para lhes ajudar nas pr√≥ximas quests.

### Refer√™ncias

Cassar, Daniel. LMA-203 1.0 - Tratamento de dados com pandas. Acesso em: 24 ago. 2025.